body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

.main {
    padding: 10px;
    background-color: #287FF0;
}

.vm {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.vm .logo {
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif Bold Italic;
    color: #FFE11B;
}

.vm img {
    background-color: #287FF0;
    height: 90px;
    width: 120px;
    border-radius: 30%;
}

.vm h1 {
    font-size: 40px;
    padding-left: 15px;
    padding-top: 1px;
}


.hdr {
    display: flex;
    float: right;
    padding: 0px 20px;
    align-items: center;
    font-size: 25px;
}

.hdr i {
    padding-left: 50px;
    color: rgb(246, 255, 0);
}

.hdr a {
    text-decoration: none;
}

.hdr a :hover {
    text-decoration: underline solid black;
    text-underline-offset: 10px;
    color: azure;
}

.hdr .search {
    border-radius: 20px;
    width: 300px;
    border: 2px solid black;
}

h2 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 95px
}

div.ab {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 15px;
    padding-left: 85px;
}

.ad {
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}